.header img {
    float: left;
    width: 50px;
    height: 50px;
    background: #555;
}

.header h1 {
    display: inline-block;
    position: relative;
    top: 18px;
    left: 10px;
}

#page_title, 
#page_subheading, 
#section_heading, 
p {
    text-align: center;
}

img, 
embed, 
object, 
video {
    max-width: 100%;
}

.displayed img {
    display: block;
    margin-left: auto;
    margin-right: auto;
}
